<% heading 'Blogs' %>
<% toolbar_link glyph('add') + ' New blog', new_resource_path %>


<ul id="blogs" class="tree">
  <% resources.each do |blog| %>
    <li>
      <%= link_to blog.name, space_page_path(@space, blog.page), :class => 'item' %>
      <span class="actions">
        -
        <%= link_to glyph('pencil'), edit_resource_path(blog) %>
        <%= link_to glyph('add'), new_resource_article_path(blog), :title => 'New article' %>
        <%= link_to glyph('delete'), resource_path(blog), :method => :delete, :confirm => 'Destroy this blog?', :title => 'Delete this blog' %>
      </span>  
      <table>
        <tr>
          <td valign="top">
            <ul class="articles">
              <li><small>Recently published:</small></li>
              <% blog.articles.published.all(:limit => 10, :order => 'published_at DESC').each do |article| %>
                <li>
                  <%= link_to article.name, space_page_path(@space, blog.page, hash_for_periodical_path(article)) %>
                  <span class="actions">
                  -
                  <%= link_to glyph('pencil'), edit_resource_article_path(blog, article.draft_version) %>
                  <%= link_to glyph('delete'), resource_article_path(blog, article.draft_version), :method => :delete %>
                  </span>
                </li>  
              <% end %>
            </ul>
          </td>
          <td valign="top">    
            <ul class="articles">
              <li><small>Never published:</small></li>
              <% blog.articles.unpublished.each do |article| %>
                <li>
                  <%= link_to article.name, space_page_path(@space, blog.page, hash_for_periodical_path(article)) %>
                  <span class="actions">
                  -
                  <%= link_to glyph('pencil'), edit_resource_article_path(blog, article.draft_version) %>
                  <%= link_to glyph('delete'), resource_article_path(blog, article.draft_version), :method => :delete %>
                  </span>
                </li>  
              <% end %>
            </ul>  
          </td>
        </tr>
      </table>      
    </li>
  <% end %>
</ul>